

body {
    font-family: pixelify-sans-unique, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    margin-left: 20px;
    align-items: center;
}
@font-face {
    font-family: 'Pixelify Sans';
    src: url('./PixelifySans-Regular.ttf') format('truetype');
    font-display: swap;
}

header h1 {
    font-family: 'Pixelify Sans', sans-serif;
}

p {
    max-width: 500px;
    color: rgb(37, 37, 101);
    font-family: Caveat, cursive;
    font-size: 25px;
}
@font-face {
    font-family: 'Caveat';
    src: url('Caveat-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

div {
    margin-top: 10px;
    border: 5px double rgb(52, 124, 137);
    padding: 10px;
    width: fit-content;
    border-radius: 25px;
}

::marker {
  color: rgb(42, 60, 80);
  font-size: 20px;
  padding-left: 10px;
  margin-left: 100px;
}



/*
main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
*/

* {
  box-sizing: border-box;
}
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 30%;
  background-color: rgb(215, 228, 216);
  height: 650px
}

.right {
  width: 60%;
  margin-left: 10px;
  height: 650px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.art_that_I_love {
    background-color: rgb(182, 149, 116);
    padding: 20px;
    border-radius: 15px;
    color: rgb(36, 33, 54);
}

a {
    color: rgb(30, 63, 63);
}